# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [1]:
# you must populate this dict with the schools required -> try talking to the teaching team about this


schools = {   
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035,
'udacity' : 11118,
'brainstation' : 10571,
'practicum-bootcamp' : 11225    
}

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests



def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [2]:
# could you write this as a list comprehension? ;)
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments)

ironhack
app-academy
springboard
udacity
brainstation
practicum-bootcamp

In [3]:
### I'm dropping the columns

comments.drop('comments', inplace=True, axis=1)
comments.drop('user', inplace=True, axis=1)

comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,createdAt,queryDate,program,overallScore,overall,curriculum,jobSupport,review_body,school
0,290576,Camille Coeurjoly,False,None,2022.0,False,,"Life-changing, intensive and thorough learning...","<span class=""truncatable""><p></p><p>Pros: - Pa...",<p>Pros: - Part-time - Lots of resources avail...,7/11/2022,2022-07-11,Data Analytics Part-Time,5.0,5.0,5.0,5.0,Pros: - Part-time - Lots of resources availabl...,ironhack
1,290573,Javier Huete Hernani,False,None,2022.0,False,CyberSecurity professional,"Cybersecurity Bootcamp, remote. A great experi...","<span class=""truncatable""><p></p><p>Just finis...",<p>Just finished Ironhack&#39;s Cybersecurity ...,7/11/2022,2022-07-11,None,4.7,5.0,4.0,5.0,Just finished Ironhack's Cybersecurity Bootcam...,ironhack
2,290330,Esteban Javier Basili,False,None,2022.0,False,Full Stack Web Developer,"Very supportive teachers, up-to-date content a...","<span class=""truncatable""><p></p><p>I have att...",<p>I have attended the Web Development Bootcam...,7/4/2022,2022-07-04,Web Development Bootcamp,5.0,5.0,5.0,5.0,I have attended the Web Development Bootcamp F...,ironhack
3,290138,Maria,False,None,2022.0,False,,Worst Staff,"<span class=""truncatable""><p></p><p>I was a st...",<p>I was a student at Ironhack BCN and the wor...,6/27/2022,2022-06-27,UX/UI Design Bootcamp,1.0,1.0,1.0,1.0,I was a student at Ironhack BCN and the worst ...,ironhack
4,290136,Anonymous,True,None,2022.0,False,,Below par education and service,"<span class=""truncatable""><p></p><p>There is a...",<p>There is a lot being said of Ironhack latel...,6/27/2022,2022-06-27,Data Analytics Bootcamp,1.0,1.0,1.0,1.0,There is a lot being said of Ironhack lately a...,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,259961,Anna Kastner,False,None,2019.0,False,None,"Guys, I enjoyed the course a lot and I recomme...","<span class=""truncatable""><p>I took the data a...",I took the data analysis course and I enjoyed ...,12/17/2019,2019-12-17,Data Analyst,4.3,5.0,4.0,4.0,I took the data analysis course and I enjoyed ...,practicum-bootcamp
113,259918,Tim Eberhart,False,Software Engineering,2019.0,True,None,Amazing course,"<span class=""truncatable""><p>It’s a an amazing...","It’s a an amazing course, especially for begin...",12/16/2019,2019-12-16,,5.0,5.0,5.0,5.0,"It’s a an amazing course, especially for begin...",practicum-bootcamp
114,259773,Tammy L. Walters,False,Software Engineering,2019.0,False,None,It's so much more than just courses! It's a fr...,"<span class=""truncatable""><p>This platform is ...",This platform is so much more than what it mig...,12/12/2019,2019-12-12,,4.3,5.0,5.0,3.0,This platform is so much more than what it mig...,practicum-bootcamp
115,259645,Kathy R. Kelly,False,Software Engineering,2019.0,False,None,Excellent,"<span class=""truncatable""><p>Excellent, very e...","Excellent, very engaging mentors. The quality ...",12/10/2019,2019-12-10,,4.7,5.0,4.0,5.0,"Excellent, very engaging mentors. The quality ...",practicum-bootcamp
116,259559,Liam Murrey,False,None,2019.0,False,None,"fantastic resource, great experience","<span class=""truncatable""><p>I got a new job n...","I got a new job not so long ago, but they neve...",12/6/2019,2019-12-06,Data Analyst,4.7,5.0,4.0,5.0,"I got a new job not so long ago, but they neve...",practicum-bootcamp

In [4]:
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,createdAt,queryDate,program,overallScore,overall,curriculum,jobSupport,review_body,school
0,290576,Camille Coeurjoly,False,None,2022.0,False,,"Life-changing, intensive and thorough learning...","<span class=""truncatable""><p></p><p>Pros: - Pa...",<p>Pros: - Part-time - Lots of resources avail...,7/11/2022,2022-07-11,Data Analytics Part-Time,5.0,5.0,5.0,5.0,Pros: - Part-time - Lots of resources availabl...,ironhack
1,290573,Javier Huete Hernani,False,None,2022.0,False,CyberSecurity professional,"Cybersecurity Bootcamp, remote. A great experi...","<span class=""truncatable""><p></p><p>Just finis...",<p>Just finished Ironhack&#39;s Cybersecurity ...,7/11/2022,2022-07-11,None,4.7,5.0,4.0,5.0,Just finished Ironhack's Cybersecurity Bootcam...,ironhack
2,290330,Esteban Javier Basili,False,None,2022.0,False,Full Stack Web Developer,"Very supportive teachers, up-to-date content a...","<span class=""truncatable""><p></p><p>I have att...",<p>I have attended the Web Development Bootcam...,7/4/2022,2022-07-04,Web Development Bootcamp,5.0,5.0,5.0,5.0,I have attended the Web Development Bootcamp F...,ironhack
3,290138,Maria,False,None,2022.0,False,,Worst Staff,"<span class=""truncatable""><p></p><p>I was a st...",<p>I was a student at Ironhack BCN and the wor...,6/27/2022,2022-06-27,UX/UI Design Bootcamp,1.0,1.0,1.0,1.0,I was a student at Ironhack BCN and the worst ...,ironhack
4,290136,Anonymous,True,None,2022.0,False,,Below par education and service,"<span class=""truncatable""><p></p><p>There is a...",<p>There is a lot being said of Ironhack latel...,6/27/2022,2022-06-27,Data Analytics Bootcamp,1.0,1.0,1.0,1.0,There is a lot being said of Ironhack lately a...,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,259961,Anna Kastner,False,None,2019.0,False,None,"Guys, I enjoyed the course a lot and I recomme...","<span class=""truncatable""><p>I took the data a...",I took the data analysis course and I enjoyed ...,12/17/2019,2019-12-17,Data Analyst,4.3,5.0,4.0,4.0,I took the data analysis course and I enjoyed ...,practicum-bootcamp
113,259918,Tim Eberhart,False,Software Engineering,2019.0,True,None,Amazing course,"<span class=""truncatable""><p>It’s a an amazing...","It’s a an amazing course, especially for begin...",12/16/2019,2019-12-16,,5.0,5.0,5.0,5.0,"It’s a an amazing course, especially for begin...",practicum-bootcamp
114,259773,Tammy L. Walters,False,Software Engineering,2019.0,False,None,It's so much more than just courses! It's a fr...,"<span class=""truncatable""><p>This platform is ...",This platform is so much more than what it mig...,12/12/2019,2019-12-12,,4.3,5.0,5.0,3.0,This platform is so much more than what it mig...,practicum-bootcamp
115,259645,Kathy R. Kelly,False,Software Engineering,2019.0,False,None,Excellent,"<span class=""truncatable""><p>Excellent, very e...","Excellent, very engaging mentors. The quality ...",12/10/2019,2019-12-10,,4.7,5.0,4.0,5.0,"Excellent, very engaging mentors. The quality ...",practicum-bootcamp
116,259559,Liam Murrey,False,None,2019.0,False,None,"fantastic resource, great experience","<span class=""truncatable""><p>I got a new job n...","I got a new job not so long ago, but they neve...",12/6/2019,2019-12-06,Data Analyst,4.7,5.0,4.0,5.0,"I got a new job not so long ago, but they neve...",practicum-bootcamp

In [5]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack

C:\Users\asgom\AppData\Local\Temp\ipykernel_11468\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

app-academy

C:\Users\asgom\AppData\Local\Temp\ipykernel_11468\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

springboard

C:\Users\asgom\AppData\Local\Temp\ipykernel_11468\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

udacity

C:\Users\asgom\AppData\Local\Temp\ipykernel_11468\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

brainstation
practicum-bootcamp

C:\Users\asgom\AppData\Local\Temp\ipykernel_11468\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\asgom\AppData\Local\Temp\ipykernel_11468\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

In [6]:
locations_list

[      id               description  country.id   country.name country.abbrev  \
 0  15901           Berlin, Germany        57.0        Germany             DE
 1  16022       Mexico City, Mexico        29.0         Mexico             MX
 2  16086    Amsterdam, Netherlands        59.0    Netherlands             NL
 3  16088         Sao Paulo, Brazil        42.0         Brazil             BR
 4  16109             Paris, France        38.0         France             FR
 5  16375  Miami, FL, United States         1.0  United States             US
 6  16376             Madrid, Spain        12.0          Spain             ES
 7  16377          Barcelona, Spain        12.0          Spain             ES
 8  16709          Lisbon, Portugal        28.0       Portugal             PT
 9  17233                    Online         NaN            NaN            NaN

    city.id    city.name city.keyword  state.id state.name state.abbrev  \
 0  31156.0       Berlin       berlin       NaN        NaN          NaN
 1  31175.0  Mexico City  mexico-city       NaN        NaN          NaN
 2  31168.0    Amsterdam    amsterdam       NaN        NaN          NaN
 3  31121.0    Sao Paulo    sao-paulo       NaN        NaN          NaN
 4  31136.0        Paris        paris       NaN        NaN          NaN
 5     31.0        Miami        miami      11.0    Florida           FL
 6  31052.0       Madrid       madrid       NaN        NaN          NaN
 7  31170.0    Barcelona    barcelona       NaN        NaN          NaN
 8  31075.0       Lisbon       lisbon       NaN        NaN          NaN
 9      NaN          NaN          NaN       1.0     Online       Online

   state.keyword    school  school_id
 0           NaN  ironhack      10828
 1           NaN  ironhack      10828
 2           NaN  ironhack      10828
 3           NaN  ironhack      10828
 4           NaN  ironhack      10828
 5       florida  ironhack      10828
 6           NaN  ironhack      10828
 7           NaN  ironhack      10828
 8           NaN  ironhack      10828
 9        online  ironhack      10828  ,
       id                       description  country.id   country.name  \
 0  15704  San Francisco, CA, United States         1.0  United States
 1  15705  New York City, NY, United States         1.0  United States
 2  15862                            Online         NaN            NaN

   country.abbrev  state.id  state.name state.abbrev state.keyword  city.id  \
 0             US         6  California           CA    california     13.0
 1             US        34    New York           NY      new-york   1507.0
 2            NaN         1      Online       Online        online      NaN

        city.name   city.keyword       school  school_id
 0  San Francisco  san-francisco  app-academy      10525
 1            NYC  new-york-city  app-academy      10525
 2            NaN            NaN  app-academy      10525  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16013      Online         1     Online       Online        online

         school  school_id
 0  springboard      11035  ,
       id description  state.id state.name state.abbrev state.keyword   school  \
 0  15807      Online         1     Online       Online        online  udacity

    school_id
 0      11118  ,
       id        description  country.id    country.name country.abbrev  \
 0  15935  New York City, NY         1.0   United States             US
 1  15985    Toronto, Canada         2.0          Canada             CA
 2  16010  Vancouver, Canada         2.0          Canada             CA
 3  16909         Boston, MA         1.0   United States             US
 4  16910        Chicago, IL         1.0   United States             US
 5  16940             Online         NaN             NaN            NaN
 6  17706          Miami, FL         1.0   United States             US
 7  17731         London, UK        11.0  United Kingdom             GB

    state.id        state.name state.abbrev  state.keyword  city.id  city.name  \
 0      34.0          New York           NY       new-york   1507.0        NYC
 1       NaN               NaN          NaN            NaN   1547.0    Toronto
 2      71.0  British Columbia           BC                 31138.0  Vancouver
 3      23.0     Massachusetts           MA  massachusetts     47.0     Boston
 4      15.0          Illinois           IL       illinois     39.0    Chicago
 5       1.0            Online       Online         online      NaN        NaN
 6      11.0           Florida           FL        florida     31.0      Miami
 7       NaN               NaN          NaN            NaN  31176.0     London

     city.keyword        school  school_id
 0  new-york-city  brainstation      10571
 1        toronto  brainstation      10571
 2      vancouver  brainstation      10571
 3         boston  brainstation      10571
 4        chicago  brainstation      10571
 5            NaN  brainstation      10571
 6          miami  brainstation      10571
 7         london  brainstation      10571  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  17154      Online         1     Online       Online        online

                school  school_id
 0  practicum-bootcamp      11225  ]

In [7]:
locations = pd.concat(locations_list)
locations

,id,description,country.id,country.name,country.abbrev,city.id,city.name,city.keyword,state.id,state.name,state.abbrev,state.keyword,school,school_id
0,15901,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,NaN,NaN,NaN,ironhack,10828
1,16022,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,NaN,NaN,NaN,ironhack,10828
2,16086,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,NaN,NaN,NaN,ironhack,10828
3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,31121.0,Sao Paulo,sao-paulo,NaN,NaN,NaN,NaN,ironhack,10828
4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,NaN,NaN,NaN,ironhack,10828
5,16375,"Miami, FL, United States",1.0,United States,US,31.0,Miami,miami,11.0,Florida,FL,florida,ironhack,10828
6,16376,"Madrid, Spain",12.0,Spain,ES,31052.0,Madrid,madrid,NaN,NaN,NaN,NaN,ironhack,10828
7,16377,"Barcelona, Spain",12.0,Spain,ES,31170.0,Barcelona,barcelona,NaN,NaN,NaN,NaN,ironhack,10828
8,16709,"Lisbon, Portugal",28.0,Portugal,PT,31075.0,Lisbon,lisbon,NaN,NaN,NaN,NaN,ironhack,10828
9,17233,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,ironhack,10828
0,15704,"San Francisco, CA, United States",1.0,United States,US,13.0,San Francisco,san-francisco,6.0,California,CA,california,app-academy,10525
1,15705,"New York City, NY, United States",1.0,United States,US,1507.0,NYC,new-york-city,34.0,New York,NY,new-york,app-academy,10525
2,15862,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,app-academy,10525
0,16013,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,springboard,11035
0,15807,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,udacity,11118
0,15935,"New York City, NY",1.0,United States,US,1507.0,NYC,new-york-city,34.0,New York,NY,new-york,brainstation,10571
1,15985,"Toronto, Canada",2.0,Canada,CA,1547.0,Toronto,toronto,NaN,NaN,NaN,NaN,brainstation,10571
2,16010,"Vancouver, Canada",2.0,Canada,CA,31138.0,Vancouver,vancouver,71.0,British Columbia,BC,,brainstation,10571
3,16909,"Boston, MA",1.0,United States,US,47.0,Boston,boston,23.0,Massachusetts,MA,massachusetts,brainstation,10571
4,16910,"Chicago, IL",1.0,United States,US,39.0,Chicago,chicago,15.0,Illinois,IL,illinois,brainstation,10571
5,16940,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,brainstation,10571
6,17706,"Miami, FL",1.0,United States,US,31.0,Miami,miami,11.0,Florida,FL,florida,brainstation,10571
7,17731,"London, UK",11.0,United Kingdom,GB,31176.0,London,london,NaN,NaN,NaN,NaN,brainstation,10571
0,17154,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,practicum-bootcamp,11225

In [8]:
courses = pd.concat(courses_list)
courses.head(10)

                              courses       school  school_id
0             Cyber Security Bootcamp     ironhack      10828
1             Cybersecurity Part-Time     ironhack      10828
2             Data Analytics Bootcamp     ironhack      10828
3            Data Analytics Part-Time     ironhack      10828
4               UX/UI Design Bootcamp     ironhack      10828
5              UX/UI Design Part-Time     ironhack      10828
6            Web Development Bootcamp     ironhack      10828
7           Web Development Part-Time     ironhack      10828
0                       Bootcamp Prep  app-academy      10525
1  Software Engineer Track: In-Person  app-academy      10525

In [9]:
badges = pd.concat(badges_list)
badges.head()

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
0,Available Online,available_online,<p>School offers fully online courses</p>,app-academy,10525
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,app-academy,10525

In [10]:
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list)
schools.head()

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,"<span class=""truncatable""><p>App Academy is a ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,www.springboard.com/?utm_source=switchup&utm_m...,"<span class=""truncatable""><p>Springboard is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035
0,www.udacity.com/?utm_source=switchup&utm_mediu...,"<span class=""truncatable""><p>Udacity is the tr...",https://d92mrp7hetgfk.cloudfront.net/images/si...,udacity,11118
0,brainstation.io,"<span class=""truncatable""><p>BrainStation is t...",https://d92mrp7hetgfk.cloudfront.net/images/si...,brainstation,10571

In [12]:
from sqlalchemy import create_engine

# Credentials to database connection
hostname='127.0.0.1'
dbname="project2"
uname="root"
pwd="PASSWORD"

# Create dataframe
comments
courses
locations
schools


# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
comments.to_sql('comments', engine, index=False)
courses.to_sql('courses', engine, index=False)
locations.to_sql('locations', engine, index=False)
schools.to_sql('schools', engine, index=False)

6